.cabecalho {
    text-align: center;
    margin: 50px 0;
  }
  
  .titulo__principal {
    display: block;
    font-size: 32px;
    text-transform: uppercase;
  }
  
  .titulo__secundario {
    font-size: 14px;
  }
  
  .paises {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 546px;
    position: relative;
    margin: 0 auto;
  }
  
  .paises__imagemcentral {
    height: 183px;
    width: 200px;
  }
  
  .paises nav {
    height: 0;
    width: 0;
  }
  
  .paises__idioma,
  .paises__artigos {
    display: block;
    text-align: center;
  }
  
  .paises__item {
    position: absolute;
  }
  
  .paises__1 {
    top: 0;
    right: 60%;
  }
  
  .paises__2 {
    top: 0;
    left: 60%;
  }
  
  .paises__3 {
    top: 20%;
    right: 70%;
  }
  
  .paises__4 {
    top: 20%;
    left: 70%;
  }
  
  .paises__5 {
    top: 40%;
    right: 72%;
  }
  
  .paises__6 {
    top: 40%;
    left: 72%;
  }
  
  .paises__7 {
    top: 60%;
    right: 70%;
  }
  
  .paises__8 {
    top: 60%;
    left: 70%;
  }
  
  .paises__9 {
    top: 80%;
    right: 60%;
  }
  
  .paises__10 {
    top: 80%;
    left: 60%;
  }
  
  .busca__container {
    width: fit-content;
    margin: 10px auto;
    border: 1px solid #999999;
  }
  
  .busca__texto,
  .busca__idioma,
  .busca__botao {
    border: none;
  }
  
  .busca__menu {
    width: fit-content;
    margin: 10px auto;
  }
  
  .rodape {
    border-top: 1px solid #c8ccd1;
    border-bottom: 1px solid #c8ccd1;
    padding: 40px 50px;
    display: flex;
  }
  
  .rodape__info {
    max-width: 300px;
  }
  
  .rodape__suporte,
  .rodape__apps {
    display: flex;
    padding: 10px;
  }
  
  .rodape__apps {
    margin-top: 30px;
    background-color: #f8f9fa;
  }
  
  .rodape__suporte__imagem,
  .rodape__apps__imagem {
    margin-right: 10px;
  }
  
  .rodape__apps__link {
    display: block;
    margin-bottom: 10px;
  }
  
  .rodape__suporte__imagem,
  .rodape__apps__imagem,
  .rodape__wikisites__imagem {
    height: 37px;
    width: 37px;
  }
  
  .rodape__appstore__imagem {
    height: 28px;
    margin-top: 10px;
  }
  
  .rodape__wikisites {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
  }
  
  .rodape__wikisites__item a {
    display: flex;
  }
  
  .rodape__wikisites__info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    width: 180px;
  }
  
  .licenca {
    width: fit-content;
    margin: 20px auto;
  }